<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">

</head>
<body>
<a class="btn btn-outline-secondary btn-block" href="/">register</a>
<h1>Welcome {{ session["name"] }}</h1>
<a href="/logout">logout</a>
<table class="table table-hover table-dark">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    {% for user in users %}
       <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><a class="btn btn-danger" href="/delete/{{user.id}}">Delete</a></td>
        <td><a class="btn btn-info" href="/update/{{ user.id }}">Update</a></td>
       </tr>
    {% endfor %}
</table>
</body>
</html>