<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
<h1>Chrome Wholesellers LTD</h1>
<div class="row">
    <div class="col-3"></div>
<div class="col-6">
    <h3 class="text-info text-center">Login here</h3>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    {% endwith %}
    <form action="" method="post">
        <input name="y" class="form-control" type="email" placeholder="Enter email"> <br><br>
        <input name="z" class="form-control" type="password" placeholder="Enter password"> <br><br>
        <input class="btn btn-outline-info btn-block" type="submit" value="login"> <br><br>
        <a class="btn btn-outline-success btn-block" href="/">Register</a>
    </form>

</div>
<div class="col-3"></div>
</div>
</body>
</html>